.layout {
  min-width: 320px;
  overflow: hidden;

  @apply text-gray-800 bg-layout-gradient font-brandon;
}

.layout__container {
  max-width: 1152px;
  margin: 0 auto;
  position: relative;
  padding: 0 16px;
  display: flex;
  flex-direction: column;

  @media screen(md) {
    padding: 0 32px;
  }

  @media screen(lg) {
    padding: 0 80px;
  }
}
