.header {
  text-align: center;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__title {
    @apply my-5 text-3xl leading-11 font-bold md:text-6xl md:leading-14 lg:text-9xl lg:leading-14;
  }

  &__text {
    @apply text-base md:text-lg leading-7 md:leading-7 lg:leading-8;

    a {
      text-decoration: underline;

      &:hover {
        opacity: 0.75;
      }
    }
  }
}
