.header {
  text-align: left;

  &__title {
    margin: 0;
    @apply text-gradient bg-teal-purple-gradient text-3xl leading-11 font-bold md:text-6xl md:leading-14 lg:text-9xl lg:leading-14;

    @media (--md-scr) {
      margin-top: 8px;
    }

    @media (--lg-scr) {
      margin-top: 16px;
      max-width: 720px;
    }

    &Underscore {
      position: relative;
      top: -2px;
      @apply motion-safe:animate-blink text-gradient bg-orange-gradient;
      animation-name: 'blink';

      @media (--lg-scr) {
        top: -3px;
      }
    }
  }

  &__logos {
    grid-area: logos;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 10px;
    list-style: none;

    @media (--md-scr) {
      margin: 34px 0 0;
      li {
        flex-basis: 20%;
      }
    }

    @media (--lg-scr) {
      margin: 12px -40px 0;
    }
  }

  &__list {
    margin: 12px 16px 0 0;
    @media (--md-scr) {
      margin: 0 auto 10px;
    }
  }

  &__logo {
    width: var(--width-sm);

    @media (--md-scr) {
      width: var(--width-md);
    }

    @media (--lg-scr) {
      width: var(--width-lg);
    }
  }
}

.main {
  @media (--md-scr) {
    display: grid;
    grid-template-areas: 'captions slides' 'buttons slides';
    grid-template-columns: 1fr 336px;
    grid-template-rows: min-content 1fr;
    margin: 0 -32px 0 -14px;
    column-gap: 16px;
  }

  @media (--lg-scr) {
    grid-template-columns: calc((100% - 64px) / 2) 1fr;
    column-gap: 24px;
    margin: 48px -80px 0 -18px;
  }

  .cli__slidesWrapper {
    grid-area: slides;
  }

  .cli__captions {
    grid-area: captions;
  }

  &__buttons {
    grid-area: buttons;

    @media (--md-scr) {
      display: flex;
      align-items: flex-start;
      padding: 12px;
    }

    @media (--lg-scr) {
      padding: 16px;
    }

    .button {
      margin-top: 8px;

      @media (--md-scr) {
        margin: 0 12px 0 0;
      }

      @media (--lg-scr) {
        margin: 0 16px 0 0;
      }

      &:last-child {
        @apply border border-solid border-purple-800;
      }
    }
  }
}

.cli {
  /* css code for the slides is definitely overcomplicated and needs to get refactored */
  &__slidesWrapper {
    overflow: hidden;
    width: 100vw;
    padding: 24px 0 16px 0;
    margin: 0 0 0 -16px;

    @media (--md-scr) {
      width: 320px;
      height: 234px;
      padding: 34px 20px 34px 16px;
      box-sizing: content-box;
      @apply rounded-4;
    }

    @media (--lg-scr) {
      box-sizing: border-box;
      width: calc(100% + 18px);
      height: calc(244px + 32px);
      padding: 16px 64px 16px 24px;
      margin: 0 0 0 -24px;
      align-self: center;
    }
  }

  &__slides {
    list-style: none;
    display: flex;
    position: relative;
    transition: right 0.2s ease-in-out;
    width: calc(((100% + 8px) * var(--length)) + 16px);
    right: calc(
      ((100% + 8px) * var(--selected-i)) - (16px + (32px * var(--selected-i)))
    );

    li {
      width: calc(100vw - 32px);
      height: 234px;
      margin-right: 8px;
      opacity: 0.75;
      transition: opacity 0.2s ease-in-out;

      &.selected {
        opacity: 1;
      }

      @media (--md-scr) {
        width: 320px;
        opacity: 0;
      }

      @media (--lg-scr) {
        width: 100%;
      }
    }

    @media (--md-scr) {
      right: calc((100% + 8px) * var(--selected-i));
    }
  }

  &__dots {
    display: flex;
    padding: 16px 0;

    li {
      display: flex;
      margin-right: 8px;
    }

    button {
      width: 8px;
      height: 8px;
      @apply bg-gray-900 bg-opacity-10 rounded-full;

      &.selected {
        @apply bg-teal-purple-gradient;
      }
    }

    @media (--md-scr) {
      display: none;
    }
  }

  &__captions {
    overflow: hidden;
    position: relative;
    transition: right 0.2s ease-in-out;
    width: calc((100% + 16px) * var(--length));
    right: calc((100% + 16px) * var(--selected-i));
    text-align: left;

    @media (--md-scr) {
      flex-direction: column;
      position: static;
      width: 100%;
      margin: 34px 0 0;
    }

    @media (--lg-scr) {
      margin: 0;
    }

    li {
      width: calc(100vw - 16px);
      display: flex;
      flex-direction: column;
      border-radius: 8px;

      @media (--md-scr) {
        width: 100%;
        padding: 12px;

        &:hover {
          @apply bg-gray-200;
        }

        &:first-child {
          margin-top: 0;
        }
      }

      @media (--lg-scr) {
        padding: 16px;
      }

      &.cli__caption_selected {
        border-image: linear-gradient(to bottom, #945dd6 0%, #13adc7 100%) 2;
        padding: 8px 12px;
        margin: 8px 0;
        @apply border-solid border-l-2;

        @media (--lg-scr) {
          padding: 8px 16px;
        }

        .cli__text {
          @media (--md-scr) {
            margin: 2px 0 0;
            height: auto;
            opacity: 1;
          }

          @media (--lg-scr) {
            margin: 4px 0 0;
          }
        }
      }
    }

    button {
      text-align: left;
    }
  }

  &__boldText {
    @apply text-gray-900 text-lg leading-7 font-medium lg:text-xl;
  }

  &__text {
    @apply text-gray-600 text-base leading-7 lg:text-lg lg:leading-8;
    margin: 4px 0 0 0;

    @media (--md-scr) {
      margin: 0;
      transition: height 0.2s ease-in-out, margin 0.2s ease-in-out,
        opacity 0.2s ease-in-out;
      height: 0;
      opacity: 0;
    }
  }
}
