.header {
  @apply my-10;
  text-align: left;

  &__title {
    margin: 0;
    @apply text-gradient bg-teal-purple-gradient text-3xl leading-11 font-bold md:text-6xl md:leading-14 lg:text-9xl lg:leading-14;

    @media screen(md) {
      margin-top: 8px;
    }

    @media screen(lg) {
      margin-top: 16px;
      max-width: 720px;
    }

    &Underscore {
      position: relative;
      top: -2px;
      @apply motion-safe:animate-blink text-gradient bg-orange-gradient;
      animation-name: 'blink';

      @media screen(lg) {
        top: -3px;
      }
    }
  }

  &__logos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 24px 0;
    list-style: none;

    @media screen(md) {
      flex-wrap: nowrap;
      justify-content: space-between;
      margin: 34px 0 0;
    }

    @media screen(lg) {
      margin: 56px 0 0;
    }
  }

  &__logo {
    width: var(--width-sm);
    margin: 12px 16px 0 0;

    @media screen(md) {
      width: var(--width-md);
      margin: 0;
    }

    @media screen(lg) {
      width: var(--width-lg);
    }
  }
}

.main {
  @media screen(md) {
    padding: 0 -32px 0 -14px;
    column-gap: 16px;
  }

  @media screen(lg) {
    column-gap: 24px;
    padding: 48px -80px 0 -18px;
  }

  &__buttons {
    @media screen(md) {
      display: flex;
      align-items: flex-start;
      padding: 12px;
    }

    @media screen(lg) {
      padding: 16px;
    }

    .button {
      margin-top: 8px;

      @media screen(md) {
        margin: 0 12px 0 0;
      }

      @media screen(lg) {
        margin: 0 16px 0 0;
      }

      &:last-child {
        @apply border border-solid border-purple-800;
      }
    }
  }
}

.cli {
  /* css code for the slides is definitely overcomplicated and needs to get refactored */
  &__slidesWrapper {
    overflow: hidden;
    width: 100vw;
    padding: 24px 0 16px 0;
    margin: 0 0 0 -16px;

    @media screen(md) {
      width: 320px;
      height: 234px;
      padding: 34px 20px 34px 16px;
      @apply rounded-4;
    }

    @media screen(lg) {
      padding: 16px 64px 16px 24px;
      margin: 0 0 0 -24px;
      align-self: center;
    }
  }

  &__slides {
    width: 100%;
    list-style: none;
    display: flex;
    position: relative;
    transition: right 0.2s ease-in-out;
    width: calc(((100% + 8px) * var(--length)) + 16px);
    right: calc(
      ((100% + 8px) * var(--selected-i)) - (16px + (32px * var(--selected-i)))
    );

    li {
      width: calc(100vw - 32px);
      height: 234px;
      margin-right: 8px;
      opacity: 0.75;
      transition: opacity 0.2s ease-in-out;

      &.selected {
        opacity: 1;
      }

      @media screen(md) {
        width: 320px;
        opacity: 0;
      }

      @media screen(lg) {
        width: 100%;
      }
    }

    @media screen(md) {
      right: calc((100% + 8px) * var(--selected-i));
    }
  }

  &__dots {
    display: flex;
    padding: 16px 0;

    li {
      display: flex;
      margin-right: 8px;
    }

    button {
      width: 8px;
      height: 8px;
      @apply bg-gray-900 bg-opacity-10 rounded-full;

      &.selected {
        @apply bg-teal-purple-gradient;
      }
    }

    @media screen(md) {
      display: none;
    }
  }

  &__captions {
    overflow: hidden;
    position: relative;
    transition: right 0.2s ease-in-out;
    width: calc((100% + 16px) * var(--length));
    right: calc((100% + 16px) * var(--selected-i));
    text-align: left;

    @media screen(md) {
      flex-direction: column;
      position: static;
      width: 100%;
      margin: 34px 0 0;
    }

    @media screen(lg) {
      margin: 0;
    }

    li {
      width: calc(100vw - 16px);
      display: flex;
      flex-direction: column;
      border-radius: 8px;

      @media screen(md) {
        width: 100%;
        padding: 12px;

        &:hover {
          @apply bg-gray-200;
        }

        &:first-child {
          margin-top: 0;
        }
      }

      @media screen(lg) {
        padding: 16px;
      }

      &.cli__caption_selected {
        border-image: linear-gradient(to bottom, #945dd6 0%, #13adc7 100%) 2;
        padding: 8px 12px;
        margin: 8px 0;
        @apply border-solid border-l-2;

        @media screen(lg) {
          padding: 8px 16px;
        }

        .cli__text {
          @media screen(md) {
            margin: 2px 0 0;
            height: auto;
            opacity: 1;
          }

          @media screen(lg) {
            margin: 4px 0 0;
          }
        }
      }
    }

    button {
      text-align: left;
    }
  }

  &__boldText {
    @apply text-gray-900 text-lg leading-7 font-medium lg:text-xl;
  }

  &__text {
    @apply text-gray-600 text-base leading-7 lg:text-lg lg:leading-8;
    margin: 4px 0 0 0;

    @media screen(md) {
      margin: 0;
      transition: height 0.2s ease-in-out, margin 0.2s ease-in-out,
        opacity 0.2s ease-in-out;
      height: 0;
      opacity: 0;
    }
  }
}
