.alert {
  height: var(--layout-alert-height);
  line-height: var(--layout-alert-height);
  font-size: 18px;
  text-align: center;
  background-color: #dee;
  width: 100%;
  transition: 0.5s all, 0s width;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0 16px;
  flex: 0 0 var(--layout-alert-height);

  .text {
    display: flex;
    align-items: center;
    padding: 0 16px;
    overflow: hidden;
    justify-content: center;
  }

  .icon {
    margin-right: 4px;
  }

  p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .textSvg {
    width: 22px;
    height: 22px;
    margin-right: 8px;
  }

  &.collapsed {
    height: 0;
    flex-basis: 0;
  }

  a {
    text-decoration: underline;
    @apply hover:opacity-75;
  }
}
