@import url(../../vendor/normalize.css);
@import url(../../vendor/fonts/fonts.css);

html,
body,
#___gatsby,
#gatsby-focus-wrapper {
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.layout {
  min-width: 320px;
  min-height: 100vh;
  overflow: hidden;
  @apply text-gray-800 bg-layout-gradient font-brandon;
}

.layout__container {
  max-width: 1152px;
  margin: 0 auto;
  position: relative;
  padding: 0 16px;

  @media (--md-scr) {
    padding: 0 32px;
  }

  @media (--lg-scr) {
    padding: 0 80px;
  }
}
