.socialIcon {
  @apply text-gray-800;

  padding: 8px;
  display: block;

  @media screen(md) {
    padding: 12px;
  }

  &:hover {
    opacity: 0.75;
  }

  svg {
    fill: currentcolor;

    path {
      fill: currentcolor;
    }
  }
}
