.socialIcon {
  @apply text-gray-800;
  padding: 8px;
  display: block;

  @media (--md-scr) {
    padding: 12px;
  }

  &:hover {
    opacity: 0.75;
  }

  svg {
    fill: currentColor;

    path {
      fill: currentColor;
    }
  }
}
