.nav {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 8px 0;

  @media (--md-scr) {
    padding: 0;
  }

  @media (--md-scr) {
    padding: 4px 0;
  }

  &__brandLogo {
    width: 90px;

    @media (--md-scr) {
      width: 108px;
    }

    @media (--lg-scr) {
      width: 130px;
    }
  }

  &__brandCompany {
    margin-right: auto;
    padding: 8px;
    white-space: nowrap;
    letter-spacing: 0.02em;
    background-clip: text;
    background-color: #fff 18.77%;
    background-size: 100%;
    font-style: normal;
    text-align: left;
    width: fit-content;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    @apply bg-orange-purple-gradient text-tiny md:text-base leading-6;

    @media (--md-scr) {
      padding: 12px;
    }

    @media (--lg-scr) {
      padding: 16px;
    }

    span {
      @apply font-bold;
    }
  }

  &__link {
    display: none;
    align-items: center;
    margin-right: 8px;
    @apply text-tiny md:text-lg leading-6 text-gray-900;

    @media (--sm-scr) {
      display: flex;
    }

    @media (--md-scr) {
      margin-right: 24px;
    }

    svg {
      margin-left: 5px;

      @media (--lg-scr) {
        margin-left: 7px;
        width: 18px;
        height: 18px;
      }
    }
  }

  &__button {
    margin-right: 12px;
    display: none;

    @media (--md-scr) {
      display: flex;
    }

    @media (--lg-scr) {
      margin-right: 4px;
    }
  }

  &__icons {
    display: flex;
    margin: 0;
    padding: 0;
  }
}
