.footer {
  padding: 24px 0;
  background-color: #fff;
  @apply border-gray-200 border-solid border-t-2;

  &__container {
    margin: auto;
    max-width: 1152px;
    padding: 0 16px;

    @media screen(md) {
      padding: 0 32px;
    }

    @media screen(lg) {
      padding: 0 80px;
    }
  }

  &__links {
    display: flex;
    flex-flow: column wrap;
    height: 480px;

    @media screen(md) {
      flex-flow: row nowrap;
      height: initial;
    }

    li {
      @media screen(md) {
        margin-right: 72px;

        &:first-child {
          display: none;
        }

        &:last-child {
          margin-right: 0;
        }
      }

      @media screen(lg) {
        &:first-child {
          display: flex;
        }
      }
    }
  }

  &__company {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 24px 0;

    @media screen(md) {
      text-align: left;
      justify-content: flex-start;
    }

    &Brand {
      display: flex;
      flex-direction: column;
      align-items: center;

      @media screen(md) {
        align-items: flex-start;
      }

      &:hover {
        opacity: 0.75;
      }

      svg:first-child {
        margin-bottom: 12px;

        @media screen(lg) {
          width: 32px;
          height: 32px;
        }
      }

      &Name {
        width: 107px;

        @media screen(md) {
          width: 135px;
        }
      }
    }

    &Text {
      margin-top: 16px;
      @apply text-gray-700 text-base leading-8 md:text-lg md:leading-13;

      @media screen(md) {
        margin-top: 8px;
      }
    }
  }
}
