.header {
  width: 100%;
  background-color: white;
  position: fixed;
  top: 0;
  height: var(--layout-header-height);
  z-index: 2;
  box-shadow: 0 2px 3px 0 rgb(0 0 0 / 15%);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  transition: 0.5s all, 0s width;
  &.hasAlert {
    height: calc(var(--layout-header-height)+var(--layout-alert-height));
  }
}

.placeholder {
  transition: height 0.2s linear;
  height: var(--layout-header-height);

  &.withAlert {
    height: calc(var(--layout-header-height) + var(--layout-alert-height));
  }

  &.collapsed {
    height: var(--layout-header-height);
  }
}

.nav {
  background-color: white;
  width: 100%;
  margin: auto;
  max-width: 1152px;
  display: flex;
  align-items: center;
  padding: 8px 16px;
  justify-content: center;

  @media screen(md) {
    padding: 8px 32px;
  }

  @media screen(lg) {
    padding: 8px 80px;
  }

  &__brandLogo {
    width: 90px;

    @media screen(md) {
      width: 108px;
    }

    @media screen(lg) {
      width: 115px;
    }
  }

  &__logoLink {
    flex: 0 0 auto;
  }

  &__brandCompany {
    margin-right: auto;
    padding: 8px;
    white-space: nowrap;
    letter-spacing: 0.02em;
    background-clip: text;
    background-color: #fff 18.77%;
    background-size: 100%;
    font-style: normal;
    text-align: left;
    width: fit-content;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    @apply bg-orange-purple-gradient text-tiny md:text-base leading-6;

    @media screen(md) {
      padding: 12px;
    }

    @media screen(lg) {
      padding: 16px;
    }

    span {
      @apply font-bold;
    }
  }

  &__links {
    display: flex;

    > * {
      margin-right: 8px;

      @media screen(md) {
        margin-right: 24px;
      }

      &:last-child {
        margin-right: 0;

        @media screen(md) {
          margin-right: 12px;
        }
      }
    }
  }

  &__link {
    display: none;
    align-items: center;
    @apply text-tiny md:text-lg leading-6 text-gray-900;

    @media screen(sm) {
      display: flex;
    }

    svg {
      margin-left: 5px;

      @media screen(lg) {
        margin-left: 7px;
        width: 18px;
        height: 18px;
      }
    }
  }

  &__button {
    display: none;

    @media screen(md) {
      display: flex;
    }
  }

  &__icons {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;

    @media screen(md) {
      margin-right: 12px;
    }
  }
}
